{% extends 'base.html' %}
{% block title %}Adding Disount{% endblock %}
{% block content %}
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

   <body>
<style>
td {
	width:25%;
	text-align: center;
}
</style>
<h1 class="pagetitle">Add Disount</h1>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-success alert-dismissible fade show">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
	                <strong>Success! </strong>{{ message }}
  		</div>
	{% endfor%}
{% endif %}

	<form class="form-inline my-2 my-lg-0" method="POST">
      {% csrf_token %}
	<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>title</th>
       <th>discount_percent</th>
  
       <tr>
	   <td>
      <input class="form-control mr-sm-2" type="search"  aria-label="Search" name="title">
      </td>
       <td>

             <input class="form-control mr-sm-2" type="search"  aria-label="Search" name="discount_percent">

       </div>

      </td>

    </tr>
      </table>
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add Discount</button>
          <br>

    </form>
   </body>
</html>
{% endblock %}

<!--  <input class="form-control mr-sm-2" type="search" placeholder="{{ product.category.catName }}" 
      value="{{ product.category.catName }}" aria-label="Search" name="category">
      -->