{% extends 'base.html' %}
{% block title %}Edit user{% endblock %}
{% block content %}
<html>

   <body>
<style>
td {
	width:25%;
	text-align: center;
}
</style>
<center><h1>This is Admin Edit category</h1></center>

	{% if user %}
	<form class="form-inline my-2 my-lg-0" method="POST">
      {% csrf_token %}
	<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>email</th>
       <th>password</th>
       <th>Type </th>
  
       <tr>
       <td>
            <label for="email" name='email' ><b> {{ user.email }}</b></label>

      </td>

       <td>
      <input class="form-control mr-sm-2" type="Search" placeholder="{{user.password}}" 
      value="{{user.password}}" aria-label="Search" name="password">
       </td>
 
      <td>
       <select name="typ" >
       {% if user.typ == "customer" %}
           <option value='customer' selected>Customer</option>
           <option value='admin' >Admin</option>
        {%else%}
           <option value='customer' >Customer</option>
           <option value='admin' selected>Admin</option>
         {% endif %}
       </select>
      </td>
 
    </tr>
      </table>

      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit User</button>
      
      <br>
    </form>
	{% endif %}
   </body>
</html>
{% endblock %}

<!--  <input class="form-control mr-sm-2" type="search" placeholder="{{ product.category.catName }}" 
      value="{{ product.category.catName }}" aria-label="Search" name="category">
      -->