{% extends 'base.html' %}
{% block title %}Adding Product{% endblock %}
{% block content %}
<html>

   <body>
<style>
td {
	width:20%;
	text-align: center;
}
</style>
<center><h1>This is Admin Add Product</h1></center>

	{% if Categories %}
	<form class="form-inline my-2 my-lg-0" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
	<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>Name</th>
       <th>category</th>
       <th>Weight</th>
       <th>price</th>
       <th>Image</th>

       <tr>
	   <td>
      <input class="form-control mr-sm-2"  name="Name">
      </td>
      <td>
       <select name="category" >

       {% for categ in Categories %}
            <option value={{categ.id}}  >{{categ.catName}}</option>
       {% endfor %}
       </select>

      </td>
      <td>
      <input class="form-control mr-sm-2"   name="Weight">
      </td>
      <td>
      <input class="form-control mr-sm-2"   name="price">
      </td>
         <td>
        <input type="file" id="Image"  name="Image" accept="image/*">
        <input hidden id="is_active"  name="is_active" value="True">
        
      </td>   
      
    </tr>
      </table>
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add product</button>
          <br>

    </form>
	{% endif %}
   </body>
</html>
{% endblock %}


