{%extends 'base.html'%}

{% block content %}

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>


{% if users %}
<style>
td {
	width:25%;
	text-align: center;
}
</style>
<center><h1>Users page in the administration  </h1></center>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-success alert-dismissible fade show">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
	                <strong>Success! </strong>{{ message }}
  		</div>
	{% endfor%}
{% endif %}


	<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>Email</th>
       <th>Password</th>
       <th>Type </th>
       <th></th>

    </tr>
		{% for user in users %}
				{%if user.typ == 'admin'%}	<tr style='background:#ffe6e6'>
				{%else%} <tr>
				{%endif%}
					<td ><center>{{user.email}}</center></td>
					<td ><center>{{user.password}}</center></td>
					<td ><center>{{user.typ}}</center></td>
					<td><form name="editform"
					   action = "{% url 'adminEditUser' user.email %}"  >
					   {% csrf_token %}
                	   <input type="submit" value="Edit" >
					   </form></td>

					<!--<input type="submit" value="Buy"/><a href="">{{things.id }}</a></td>-->
					
				</tr>
			
		{% endfor %}
	</table>
	<center><form name="addcat"
	  action = "{% url 'adminadduser' %}" >
	  {% csrf_token %}
      <input type="submit" value="create a new user" >
      </form></center>

{% endif %}
{% endblock content %}

<!--

	                    </form></td>
						<td><form name="deleteform"
					   action = "{% url 'adminDeletcat' things.id %}" 
                       method = "POST">
					   {% csrf_token %}
                	<input type="submit" value="Delete" >
                    </form></td>


-->