{%extends 'base.html'%}

{% block content %}


{% if discounts %}
<style>
td {
	width:25%;
	text-align: center;
}
</style>
<center><h1>Discounts page in the administration </h1></center>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning alert-dismissable" role="alert">
			<button class="close" data-dismiss="alert">
	            <small><sup>x</sup></small>
	        </button>
			{{ message }}
		</div>
	{% endfor%}

{% endif %}

	<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>title</th>
       <th>discount_percent</th>
       <th></th>
       <th></th>

    </tr>
		{% for discount in discounts %}
						
				<tr>	
					<td ><center>{{discount.title}}</center></td>
                    <td><center>{{discount.discount_percent}}</center></td>
					<td><form name="editform"
					   action = "{% url 'editDiscount' discount.id %}"  >
					   {% csrf_token %}
                	   <input type="submit" value="Edit" >
					   </form></td>
                       <td><form name="Products"
					   action = "{% url 'updateDiscountProducts' discount.id %}"  >
					   {% csrf_token %}
                	   <input type="submit" value="Products" >
					   </form></td>

					<!--<input type="submit" value="Buy"/><a href="">{{things.id }}</a></td>-->
					
				</tr>
			
		{% endfor %}
	</table>
{% endif %}

<center><form name="addDiscount"
	  action = "{% url 'addDiscount' %}" >
	  {% csrf_token %}
      <input type="submit" value="add a Discount" >
      </form></center>

{% endblock content %}

<!--

	                    </form></td>
						<td><form name="deleteform"
					   action = "{% url 'adminDeletcat' things.id %}" 
                       method = "POST">
					   {% csrf_token %}
                	<input type="submit" value="Delete" >
                    </form></td>


-->