{%extends 'base.html'%}

{% block content %}

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>


{% if discounts %}
<style>
td {
	width:25%;
	text-align: center;
}
</style>
<h1 class="pagetitle">Discounts page in the administration </h1>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-success alert-dismissible fade show">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
	                <strong>Success! </strong>{{ message }}
  		</div>
	{% endfor%}
{% endif %}

	<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>title</th>
       <th>discount_percent</th>
       <th></th>
       <th></th>
		<th></th>

    </tr>
		{% for discount in discounts %}
						
				<tr>	
					<td ><center>{{discount.title}}</center></td>
                    <td><center>{{discount.discount_percent}}</center></td>
					<td><form name="editform"
					   action = "{% url 'editDiscount' discount.id %}"  >
					   {% csrf_token %}
                	   <input type="submit" value="Edit" >
					   </form></td>
                       <td><form name="Products"
					   action = "{% url 'updateDiscountProducts' discount.id %}"  >
					   {% csrf_token %}
                	   <input type="submit" value="Products" >
					   </form></td>
						
						<td><form name="deleteDiscount"
					   action = "{% url 'deleteDiscount' discount.id %}" 
                       method = "POST">
					   {% csrf_token %}
                	<input type="submit" value="Delete" >
                    </form></td>

					<!--<input type="submit" value="Buy"/><a href="">{{things.id }}</a></td>-->
					
				</tr>
			
		{% endfor %}
	</table>
{% endif %}

<center><form name="addDiscount"
	  action = "{% url 'addDiscount' %}" >
	  {% csrf_token %}
      <input type="submit" value="add a Discount" >
      </form></center>

{% endblock content %}

<!--

	                    </form></td>
						<td><form name="deleteform"
					   action = "{% url 'adminDeletcat' things.id %}" 
                       method = "POST">
					   {% csrf_token %}
                	<input type="submit" value="Delete" >
                    </form></td>


-->