{%extends 'base.html'%}

{% block content %}

<td><form name="Back To Discounts"
action = "{% url 'Discounts'%}" 
method = "POST">
{% csrf_token %}
<input type="submit" value="Back To Discounts" >
</form></td>

{% if discountsM %}
<style>
td {
	width:25%;
	text-align: center;
}
</style>
<center><h1>Products in this discount</h1></center>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning alert-dismissable" role="alert">
			<button class="close" data-dismiss="alert">
	            <small><sup>x</sup></small>
	        </button>
			{{ message }}
		</div>
	{% endfor%}

{% endif %}

	<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>Name</th>
       <th>Price</th>
       <th>delete from discount</th>

    </tr>
		{% for membership in discountsM %}
						
				<tr>	
					<td ><center>{{membership.product.Name}}</center></td>
					<td><center>{{membership.product.price}}</center></td>
					{% comment %} <td><form name="editform"
					   action = "{% url 'adminEditP' things.id %}"  >
					   {% csrf_token %}
                	   <input type="submit" value="Edit" > {% endcomment %}
					
                    </form></td>
						<td><form name="deleteDiscountMemberShip"
					   action = "{% url 'deleteDiscountMemberShip' membership.id %}" 
                       method = "POST">
					   {% csrf_token %}
                	<input type="submit" value="Delete" >
                    </form></td>
					<!--<input type="submit" value="Buy"/><a href="">{{things.id }}</a></td>-->
					
				</tr>
			
		{% endfor %}

		
	</table>
{% endif %}

{% if other_products %}
<style>
td {
	width:25%;
	text-align: center;
}
</style>
<center><h1>Add Products to this discount</h1></center>
<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>Name</th>
       <th>Price</th>
       <th>AA to this discount</th>

    </tr>
{% for product in other_products %}
						
				<tr>	
					<td ><center>{{product.Name}}</center></td>
					<td><center>{{product.price}}</center></td>
					{% comment %} <td><form name="editform"
					   action = "{% url 'adminEditP' things.id %}"  >
					   {% csrf_token %}
                	   <input type="submit" value="Edit" > {% endcomment %}
					
                    </form></td>
						<td><form name="addDiscountMemberShip"
					   action = "{% url 'addDiscountMemberShip' product.id discount_id%}" 
                       method = "POST">
					   {% csrf_token %}
                	<input type="submit" value="Add" >
                    </form></td>
					<!--<input type="submit" value="Buy"/><a href="">{{things.id }}</a></td>-->
					
				</tr>
			
		{% endfor %}

{% endif %}


{% endblock content %}

