{%extends 'base.html'%}

{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<style>
td,th {
	width:25%;
	text-align: center;
}
</style>

<body>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-success alert-dismissible fade show">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
	                <strong>Success! </strong>{{ message }}
  		</div>
	{% endfor%}
{% endif %}


{% if discountsM %}
<h3 class="pagetitle">Products in this discount</h3>
	<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>Name</th>
       <th>Price</th>
       <th>delete from discount</th>

    </tr>
		{% for membership in discountsM %}
						
				<tr>	
					<td ><center>{{membership.product.Name}}</center></td>
					<td><center>{{membership.product.price}}</center></td>
                    </form></td>
						<td><form name="deleteDiscountMemberShip"
					   action = "{% url 'deleteDiscountMemberShip' membership.id %}" 
                       method = "POST">
					   {% csrf_token %}
                	<input type="submit" value="Delete" >
                    </form></td>
					
				</tr>
			
		{% endfor %}

		
	</table>
{% endif %}


<br>



{% if other_products %}

<h3 class="pagetitle">Add Products to this discount</h3>
<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>Name</th>
       <th>Price</th>
       <th>Add to this discount</th>

    </tr>
{% for product in other_products %}
						
				<tr>	
					<td ><center>{{product.Name}}</center></td>
					<td><center>{{product.price}}</center></td>

                    </form></td>
						<td><form name="addDiscountMemberShip"
					   action = "{% url 'addDiscountMemberShip' product.id discount_id%}" 
                       method = "POST">
					   {% csrf_token %}
                	<input type="submit" value="Add" >
                    </form></td>

				</tr>
			
		{% endfor %}
</table>
{% endif %}


<br><br>


<form name="Back To Discounts"
action = "{% url 'Discounts'%}" 
method = "POST">
{% csrf_token %}
<input type="submit" value="Back To Discounts" >
</form>

</body>

{% endblock content %}

