
{%extends 'base.html'%}

{% block content %}


<h1>Cart</h1>

{% if all_items %}
	<table class="table table-bordered">
				<tr style="background:#4285F4;color:#eee;">
    				
					<th><center><b>Product Name</b></center></th>
					<th><center><b>Category</b></center></th>
					<th><center><b>Price</b></center></th>
					<th><center><b>Quantity</b></center></th>
					<th>discount percent</th>
					<th>final price</th>
					<th width="10%"/>

  				</tr>

		{% for things,dis,aft in all_items %}
				<tr>
                	
					<td><center>{{things.ProductID.Name}}</center></td>
					<td><center>{{things.ProductID.category.catName}}</center></td>
					<td><center>{{things.price}}</center></td>
                    <td><center>
						<form method="POST" action="{% url 'editqty' things.id %}"> {%csrf_token%}
  						<input  name="quantity" value="{{things.Quantity}}" type="number" min="1" max="10" style="width:50px; text-align:center">
  						<button type="submit" >Update</button>
						</form>
					</center></td>
					<td><center>{{dis}}%</center></td>
					<td><center>{{aft}}</center></td>
					<td><center><i><button onclick="confirmdel({{things.id}})">Delete</button></i></center></td>
					<!--<td><center><i><a href="{% url 'delol' things.id %}">Delete</a></i></center></td>-->

				</tr>
		{% endfor %}
				<tr>
                    <td colspan = "7" ><b><center>total price is : {{total_price}}</center></b></td>
				</tr>
	</table>
	<button onclick="confirmbuy({{total_price}})">Buy it now</button>

<script>
	function confirmdel(id) {
	c=confirm("do you want to delete this order from cart ?")
    if(c){window.location.replace("../delol/"+id);}
	}
	
	function confirmbuy(tp) {
	c=confirm("your cart cost is:"+ tp +" \nplease confirm ")
    if(c){ window.location.replace("../buy/");}
	}
</script>
{% endif %}
{% endblock content %}