{%extends 'base.html'%}

{% block content %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style>
section {
    display: inline-block;
    width: 340px;
    height: 250px;
    margin: 5px 5px;
    border: 1px solid #333;
    border-radius: 5px;
    background: white;
}

img {
    width: 150px;
    height: 225px;
    float: right;
    margin: 5px;
}

h4,h5,h6{
    margin: 19px 5px;
}

span {
    display: block;
    margin: 5px;
    font-size: 1.2em;
}

section button {
    margin: 5px;
}


.discountp{
	display: inline;
}


	</style>
</head>
 
<body class="cate">
{% if products_dict %}
<h1>This is {{category.catName}}</h1>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-success alert-dismissible fade show">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
	                <strong>Success! </strong>{{ message }}
  		</div>
	{% endfor%}


{% endif %}
		{% for product, percent_final in products_dict.items %}
			<section>
                	  <img src="{{ product.Image.url }}" >

					<h4><i>{{product.Name}}</i></h4>
					<h6>{{product.Weight}} kg</h6>
					
					{%if percent_final.0 != 'No Discount'%}
						<h5 class="discountp" style="color:grey"><del>{{product.price}}&#8362;</del></h5>
						<h5 class="discountp">{{percent_final.1}}&#8362;</h5><br>
						<h6 style="background:pink; color:red" class="discountp">{{percent_final.0}}%</h6>
					{%else%}
						<h5 class="discountp">{{product.price}}&#8362;</h5>
						<br><br>
					{% endif %}
					{%if product.is_active%}
					<form name="buyform"
					   action = "{% url 'addorder' product.id %}" 
                       method = "POST">
					   {% csrf_token %}
                	<button type="submit">Add to Cart</button>
                    </form>
					
					{%else%} 					<form name="buyform"
					   action = "{% url 'addorder' product.id %}" 
                       method = "POST">
					   {% csrf_token %}
                	<button disabled >Currently Unavailable</button>
                    </form>
					{% endif %}
					
				</section>
			
		{% endfor %}
{% endif %}
</body>
{% endblock content %}

