{%extends 'base.html'%}

{% block content %}


{% if all_items %}
<style>
td {
	width:25%;
	text-align: center;
}
</style>
<h1>This is {{category}}</h1>


	<table class="table table-bordered">
	<tr style="background:#4285F4;color:#eee;">
       <th>Name</th>
       <th>Weight</th>
       <th>price</th>
       <th> </th>

    </tr>
		{% for things in all_items %}
						
				<tr>	
					<td ><center>{{things.Name}}</center></td>
					<td><center>{{things.Weight}}</center></td>
					<td><center>{{things.price}}</center></td>
					{%if things.Quantity%}
					<td><form name="buyform"
					   action = "{% url 'addorder' things.id %}" 
                       method = "POST">
					   {% csrf_token %}
                	<input type="submit" value="Add to Cart" >
                    </form></td>
					
					{%else%} <td><button type="button" disabled>Currently Unavailable</button></td>
					{% endif %}
					<!--<input type="submit" value="Buy"/><a href="">{{things.id }}</a></td>-->
					
				</tr>
			
		{% endfor %}
	</table>
{% endif %}
{% endblock content %}