
{%extends 'base.html'%}

{% block content %}


<h1>This is categories</h1>

{% if all_items %}
	<table class="table table-bordered">
		{% for things in all_items %}
				<tr>
				    
				      {% if things.isAvtive %}
					  <td><center>
					  <a class="nav-link" href="{% url 'category' things.id %}">
					  <img src="{{ things.Image.url }}" width="300" height="300">
					  <br>
					  {{things.catName }}</a>
					  </center></td>
					  {% endif %}
				</tr>
			
		{% endfor %}
	</table>
{% endif %}
{% endblock content %}