{%extends 'base.html'%}

{% block content %}
<html>
   <h1>this is Control Panel page</h1>
   <body>
	    <table class="table table-bordered">
				<tr><center><a class="nav-link" href="{% url 'Admincat'%}">Categories</a></center></tr>
                <tr><center><a class="nav-link" href="{% url 'Adminprod'%}">Products</a></center></tr>
                <tr><center><a class="nav-link" href="{% url 'Adminusers'%}">Users</a></center></tr>

			
	   </table>










   </body>
   
</html>

{% endblock content %}
