
{%extends 'base.html'%}

{% block content %}

<!--
<style>
.tdn{
    border:  solid black;
}
.tdm{
    border:  solid #4CAF50;
}
</style>
-->
<h1>{{title}}</h1>

{% for i in ols %}
	<table class="table table-border">

        <tr style="background:#4CAF50;color:#eee;font-weight: bold;">
        <td colspan='3'  class='tdm'>{{i.0.dt}}</td>
        </tr>

        <tr style="background:#ddd;font-weight: bold;"> 
            <td class='tdn' style='width:33%'><center>Product Name</center></td>
			<td class='tdn' style='width:33%'><center>Price</center></td>
			<td class='tdn' style='width:34%'><center>Quantity</center></td>
        </tr>
		{% for o in i.1 %}
				<tr style="background:#eee;">
					<td class='tdn'><center>{{o.ProductID.Name}}</center></td>
					<td class='tdn'><center>{{o.price}}</center></td>
					<td class='tdn'><center>{{o.Quantity}}</center></td>
				</tr>
		{% endfor %}
        <tr style="background:#ddd;font-weight: bold;"> 
            <td colspan='3' class='tdn'><center>total price :{{i.0.total_price}}</center></td>
        </tr>

	</table>
{% endfor %}
{% endblock content %}