{%extends 'base.html'%}

{% block content %}

<html>
   <body>
      <form name = "form" 
         action = "{% url 'login' %}" 
         method = "POST" > {%csrf_token%}
         {% csrf_token %}
         
         <div style = "max-width:470px;">
            <center>
               <label for="uemail"><b>Email</b></label> 
               <input type = "text" style = "margin-left:5%;" 
                  placeholder = "enter your email" name = "email" />
            </center>
         </div>
			
         <br>
         <div style = "max-width:470px;">
            <center>
               <label for="psw"><b>Password</b></label>
               <input type = "password" style = "margin-left:5%;" 
                  placeholder = "enter your password" name = "password" />
            </center>
         </div>		
         <br>
         <div style = "max-width:470px;">
            <center> 

               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit" 
                  value = "Login" >
                  <strong>Login</strong>
               </button> 

         <a class="navbar-brand" href="{% url 'signup' %}">Signup</a>
               
               <label>
               <input type="checkbox" checked="checked" name="remember"> Remember me
               </label>
            </center>
         </div>
         <div class="container" style="background-color:#f1f1f1">
            <span class="psw"><a href = "{%url 'forgotten_password' %}" >Forgot password?</a></span>
         </div>
      </form>
      <hr/>


{% endblock content %}
